.container {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
}

.box:nth-child(1) {
  background-color: pink;
}

.box:nth-child(2) {
  background-color: blue;
}

.box:nth-child(3) {
  background-color: green;
}
