@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  color: black;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .time1 {
    font-family: ebgaramond;
    font-size: 130px;
    border: 0px;
    border-radius: 5px;
    color: rgba($color: #00ffdd, $alpha: 0.2);

    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.8);
  }

  .time2 {
    font-family: ebgaramond;
    font-size: 130px;
    border: 0px;
    border-radius: 5px;
    color: rgba($color: #00ffdd, $alpha: 0.2);

    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);
    position: relative;
    transform: rotate(180deg) scaleX(-1);
    margin-top: -60px;
  }

  .quotes {
    position: relative;
    font-size: 50px;

    .quotesAddBtn {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
    }
    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
    }
  }

  .newQuotes {
    display: none;
  }

  .search {
    .searchLogo {
      width: 30px;
      height: 30px;

      animation: spin 1s linear infinite;
    }
  }
  .searchResult {
    display: none;
  }

  .nft {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    img {
      width: 256px;
      height: 256px;
    }
    .nftHover {
      position: absolute;
      display: none;
      width: 256px;
      height: 256px;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      a {
        color: white;
      }
      button {
        position: absolute;
        color: black;
        top: 0;
        right: 0;
        margin: -8px;
        border-radius: 9999px;
        width: 24px;
        height: 24px;
      }
    }
    &:hover {
      .nftHover {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .nftView {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;
    display: none;
  }
}
