body {
  margin: 0;
  color: black;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 30px;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 5px;

  padding: 5px 20px;
  animation: bounce;
  animation-duration: 2s;
}
