.box {
  width: 200px;
  height: 200px;
  background-color: brown;
}

@media (min-width: 768px) {
  .box {
    background-color: blue;
  }
}

@media (max-width: 700px) {
  .box {
    background-color: pink;
  }
}
